<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: Calibri;
            background-color: #c3c3c3;
        }

        .header {
            background-color: #3f48cc;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

            .header .title {
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            .header .menu {
                background-color: #6871d7;
            }

                .header .menu ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 20px;
                }

                    .header .menu ul li {
                        list-style-type: none;
                    }

                        .header .menu ul li a {
                            color: #fff;
                            text-decoration: none;
                            display: block;
                            padding: 10px;
                        }

        .content {
            background-color: #fff;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="title">
            <h1>KIỂM TRA 1</h1>
        </div>
        <div class="menu">
            <ul>
                <li>@Html.ActionLink("Hien thi danh sach", "Display", "QuanLyNhanvien")</li>
                <li>@Html.ActionLink("Nhap du lieu", "Index", "QuanLyNhanvien")</li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div align="center">
            @RenderBody()
        </div>
    </div>
</body>

</html>
