
@{
    ViewBag.Title = "Index";
}

<style>
    label {
        width: 120px;
        float: left;
    }
</style>
<h2>Add two numbers</h2>
@{ 
    var total = 0;
    var totalMessage = "";
            if (IsPost)
            {
        var num1 = Request["text1"];
        var num2 = Request["text2"];

        total = num1.AsInt() + num2.AsInt();
        totalMessage = "Total: " + num1 + " + " + num2 + " = " + total;
            }
}

<form action="" method="post">
    <p>
        <label>First Number: </label>
        <input type="text" name="text1" />
    </p>
    <p>
        <label>Second Number: </label>
        <input type="text" name="text2" />
    </p>
    <p>
        <input type="submit" name="Add" />
    </p>
    <p>@totalMessage</p>
</form>


