
@{
    ViewBag.Title = "Index";
}
@* ctrl k c *@
@*Dữ liệu hiện thị thẳng bên trái*@
<style type="text/css">
    label{
        width: 120px;
        float: left;
    }
</style>


<h2>Input Employee information</h2>

<form action="CalSalaryV4" method="post">
    @* Giá trị của action phải đúng tên bên action method trong controller *@
    <p>
        <label>id</label>
        <input type="text" name="id" />
    </p>
    <p>
        <label>name</label>
        <input type="text" name="name" />
    </p>
    <p>
        <label>amount</label>
        <input type="text" name="amount" />
    </p>
    <p>
        <label>salary</label>
        <input type="text" name="salary" />
    </p>
    <p>
        <input type="submit" name="sb" value="Send"/>
    </p>
</form>


















