﻿@model baitap2.Models.TienDien
@{
    ViewBag.Title = "Output";
}

<h2>Output</h2>
<li>Chủ hộ: @Model.TenChuHo</li>
<li>Số điện tiêu thụ: @Model.SoDienTieuThu</li>
<li>Tiền phải trả: @Model.GiaTien</li>

